<script type="text/javascript">
 $( document ).ready(function(){
                $("#MessageCategory3").click(function(){
                        console.log("green");

                        document.getElementById('messageid').style.backgroundColor = 'rgb(18,200,48)';


                       });
                $("#MessageCategory2").click(function(){
                       document.getElementById('messageid').style.backgroundColor = 'rgb(237,245,18)';

                  });
                $("#MessageCategory1").click(function(){
                        document.getElementById('messageid').style.backgroundColor = 'rgb(205,5,45)';


                  });
                $("#MessageAll1").click(function(){
                        console.log("click");
                        $("#options").css("display","none");
                        //document.getElementById('MessageToUserId').style.backgroundColor = 'rgb(18,200,48)';
                       });
                $("#MessageAll0").click(function(){
                         console.log("click");
                         $("#options").css("display","block");
                         //document.getElementById('MessageToUserId').style.backgroundColor = 'rgb(18,200,48)';
                         });



     });

</script>
<style>
div.inline_labels
{
    display: inline-block;
}
</style>
<div class="services form">
<?php echo $this->Form->create(null, array('url' => array('controller' => 'Message', 'action' => 'add')));?>
	<fieldset>
		<legend><?php __('Send new Message User'); ?></legend>
		<h3>To:</h3>
        		<div id="inline_labels" style="font-size: 10pt; margin-left: 150px;">

                           <?php

                                 $options=array('1'=>'All','0'=>'Individual');
                                 $attributes=array('legend'=>false);
                                 echo $this->Form->input('all', array( 'type' => 'radio',
                                                         'div'=>false,
                                                         'options' =>  $options,
                                                          'label' => true,
                                                          "legend" => false,
                                                          'default'=> 'Individual'
                                                         )
                                                    );

                           ?>
                       </div>
	<?php
	    echo $this->Form->input('from_user_id',array('type'=>'hidden','value'=>$user_id));
        $color="#000000";
        ?>

        <div id="options">
        <?php
		echo $this->Form->input('to_user_id',array('label'=>'Select Receiver:','type'=>'select','options'=>$admins));
		?>
		</div>
			<div style="font-size: 10pt; clear:both"></div>
        <?php echo $this->Form->input('subject',array('label'=>'Subject:','type'=>'text'));?>
        	<div style="clear:both"></div>

		<?php if($role=='Admin'){?>
		<div style="font-size: 10pt;">
           Category:
          </div>
           <?php

                 echo '<div class="inline_labels"  style="font-size: 10pt;">';
                 $options=array('3'=>'Green','2'=>'Yellow','1'=>'Red');
                 $attributes=array('legend'=>false);
                 echo $this->Form->input('category', array( 'type' => 'radio',
                                         'div'=>false,
                                         'options' =>  $options,
                                          'label' => true,
                                          "legend" => false
                                         )
                                    );

                 echo '</div>';
                 ?>
           	<div style="clear:both"></div>

		<?php }
		echo $this->Form->input('message',array('id'=>'messageid','label'=>'Message:','type'=>'textarea','style'=>"font-size: 10pt;background-color:FFFFFF;"));  ?>



	</fieldset>
<?php echo $this->Form->end(__('Submit', true));?>
</div>