<style>
    table tr td{
        text-align : left;
        padding-right:30px

    }
</style>

<h3>Inbox:</h3>
<div class="services index">

	<table cellpadding="0" cellspacing="0" >
	<tr >
		<td>From:</td><td><?php echo $message['User']['name']; ?>&nbsp;</td>
	</tr>
	<tr>
    		<td>Sent On:</td><td><?php echo $message['Message']['sent_on']; ?>&nbsp;</td>
    </tr>
	<tr >
	    <td >Subject:</td><td><?php echo $message['Message']['subject']; ?>&nbsp;</td>
	</tr>
    <tr >

       	    <td >Category:</td><td><?php if($message['Message']['category']=='3') echo 'Red';
       	    else if($message['Message']['category']=='2') echo 'Yellow';
       	    else echo 'Blue';
       	     ?>&nbsp;</td>

	</tr>
	<tr >
    	    <td >Message:</td><td><?php echo $message['Message']['message']; ?>&nbsp;</td>
    	</tr>

	</table>
      <div id="reply">
        <h3><b><?php echo $this->Html->link('Reply', '/Message/reply/'.$message['Message']['from_user_id']);?></b></h3>
       </div>

</div>
