<?php if(isset($thanas)){?>
<select name="thana_id" id="CdrThanaId">
 <option value="">Thana</option>
                        <?php foreach($thanas as $id=>$name){?>
                            <option value=<?php echo $id ?>><?php echo $name ?></option>
                        <?php } ?>
</select>

<?php }else{?>

<select name="union_id" id="CdrUnionId">
                                               <option value="">Union</option>
                        </div>

                        <?php foreach($unions as $id=>$name){?>
                            <option value=<?php echo $id ?>><?php echo $name ?></option>
                        <?php } ?>


                      </select>
<?php }?>
<script type='text/javascript'>
 $('#CdrThanaId').change(function(){
                            console.log($(this).val());
                            $.ajax({
                                url:'<?php echo $this->webroot; ?>Home/getLocation/',
                                type:'POST',
                                data:{thana_id:$(this).val(),type:'union'},
                                success:function(data){
                                    console.log(data);
                                    $('#unions').html(data);
                                },
                                error:function(data){
                                    console.log(data.responseText);
                                }

                            });

                });

                </script>