<script type="text/javascript">
 $( document ).ready(function(){
                $("#NoticeAll1").click(function(){
                        console.log("click");
                        $("#option").css("display","none");
                        //document.getElementById('messageid').style.backgroundColor = 'rgb(18,200,48)';
                       });
                $("#NoticeAll0").click(function(){
                         console.log("click");
                         $("#option").css("display","block");
                         //document.getElementById('messageid').style.backgroundColor = 'rgb(18,200,48)';
                         });

     });

</script>
<style>
div.inline_labels
{
    display: inline-block;
}
</style>
<div class="services form">
<?php echo $this->Form->create(null, array('url' => array('controller' => 'Notice', 'action' => 'add')));?>
	<fieldset>
		<legend><?php __('Publish Notice'); ?></legend>
            <h3>To:</h3>
		<div id="inline_labels" style="font-size: 10pt; margin-left: 150px;">

                   <?php

                         $options=array('1'=>'All','0'=>'Individual');
                         $attributes=array('legend'=>false);
                         echo $this->Form->input('all', array( 'type' => 'radio',
                                                 'div'=>false,
                                                 'options' =>  $options,
                                                  'label' => true,
                                                  "legend" => false,
                                                  'default'=> 'Individual'
                                                 )
                                            );

                   ?>
               </div>
            <div id="option">
            <?php  echo $this->Form->input('to_user_id',array('label'=>'Select Receiver:','type'=>'select','options'=>$admins));?>
			</div>
			<div style="font-size: 10pt; clear:both"></div>
        <?php echo $this->Form->input('subject',array('label'=>'Subject:','type'=>'text'));?>
        	<div style="clear:both"></div>



           	<div style="clear:both"></div>

		<?php
		echo $this->Form->input('notice',array('id'=>'noticeid','label'=>'Notice:','type'=>'textarea','style'=>"font-size: 10pt;background-color:FFFFFF;"));  ?>



	</fieldset>
<?php echo $this->Form->end(__('Publish', true));?>
</div>