<div class="services form">
<?php echo $this->Form->create(null, array('url' => array('controller' => 'User', 'action' => 'change')));?>
	<fieldset>
		<legend><?php __('Change Password'); ?></legend>
	<?php
		echo $this->Form->input('name',array('type'=>'text'));
		echo $this->Form->input('login_id',array('type'=>'text','disabled' => 'disabled'));
		echo $this->Form->input('password',array('type'=>'password'));

	?>

<?php echo $this->Form->end(__('Submit', true));?>
</div>