<div class="services index">

<fieldset>
		<legend><?php __('Profile'); ?></legend>
	<?php
	foreach ($users as $user):?>
        <?php
        		$url = $user['User']['photo'];
                echo '<div class="uploaded_image">';?>

                <img src="<?php echo $url;?>" alt="No Image Available" height="100" width="100"/>
                <?php echo '</div>';
                ?>
		<?php //echo $user; ?>
		<div>
        Address:<?php echo $user['User']['address']; ?>
        </div>
		<div>
		Name:<?php echo $user['User']['name']; ?>
		</div>

		<div>
		Login Id:<?php echo $user['User']['login_id']; ?>
		</div>
		<div>
		Email :<?php echo $user['User']['email_id']; ?>
		</div>
		<?php //echo $user['is_active'] ?>&nbsp;</td>
		<?php if($this->Session->read('role')=='Doctor'): ?>
		            <div>
		            MBBS YEAR:<?php echo $user['User']['mbbs_year']; ?>
		            </div>
		            <div>
		            College:<?php echo $user['User']['college']; ?>
		            </div>

		<?php endif;?>




<?php endforeach; ?>
	</fieldset>

</div>