<?php
echo $this->Html->script('jquery-latest.min');
	?>
</script>
<script type="text/javascript">
$(document).ready(function(){
//live check
$("#MemberConfirmPassword").keyup(function(){
    var confirm_pass = $(this).val();
	//console.log("hey");
    var pass=document.getElementById("MemberPassword").value;
	console.log($pass);
    if(confirm_pass!='')
    {
      $.ajax({
            type:"post",
            url:'<?php echo $this->webroot; ?>Register/check_pass/',
            type:'POST',
            data:{confirm_pass:$(this).val(),pass:$pass,type:'password'},
            cache: false,
            success:function(data){
                    console.log("hello success");
                    $('#result3').html(data);
                    }
                });
            }
        });


$("#MemberEmail").keyup(function(){
var username_value = $(this).val();
if(username_value!='')
{
  $.ajax({
        type:"post",
        url:'<?php echo $this->webroot; ?>Register/check_email/',
        data:{email:$(this).val(),type:'email'},
        cache: false,
        success:function(data){
                console.log("hello success");
                $('#result2').html(data);
                }
            });
        }
    });
$("#MemberMemberId").keyup(function(){
var member_id = $(this).val();
if(member_id!='')
{
  $.ajax({
        type:"post",
        url:'<?php echo $this->webroot; ?>Register/check_name/',
        data:{name:$(this).val(),type:'name'},
        cache: false,
        success:function(data){
                console.log("hello success");
                $('#result_name').html(data);
                }
            });
        }
    });

    
});
</script>
</br></br></br></br></br></br>
<?php
echo $this->Session->flash('auth');
echo $this->Form->create(null, array('url' => array('controller' => 'register', 'action' => 'savedata')));
echo '<fieldset>';
	echo '<legend>Create an Account</legend>';
	echo '<label for="memberId">Member ID';
        if ($form->isFieldError('memberId')) {
            echo '<br/><strong>' . $form->error(',memberId') . '</strong>';
        }
        echo '</label>';
        echo $form->text('memberId');
        echo '<span class="ajax_status"><img src="/img/ajax-loader.gif" alt="Checking..." /></span>';
	    echo '<span id="username_ajax_result"></span>';
	    ?>
        <span id="result_name"></span>
	<?php
	    echo '<label for="email">Email';
        if ($form->isFieldError('email')) {
            echo '<br/><strong>' . $form->error('email') . '</strong>';
        }
        echo '</label>';
        echo $form->text('email');
        echo '<span class="ajax_status"><img src="/img/ajax-loader.gif" alt="Checking..." /></span>';
	    echo '<span id="username_ajax_result"></span>';
	    ?>
        <span id="result2"></span>
<?php
        echo '<label for="password">Password';
        if ($form->isFieldError('password')) {
            echo '<br/><strong>' . $form->error('password') . '</strong>';
        }
        echo '</label>';
        echo $form->password('password');
?>
<?php
        echo '<label for="confirm_password">Confirm Password';
        if ($form->isFieldError('confirm_password')) {
            echo '<br/><strong>' . $form->error('confirm_password') . '</strong>';
        }
        echo '</label>';
        echo $form->password('confirm_password');
		?>
        <span id="result3"></span>

        <?php
		
		echo '<label for="firstname">First Name';
        if ($form->isFieldError('firstname')) {
            echo '<br/><strong>' . $form->error('firstname') . '</strong>';
        }
        echo '</label>';
        echo $form->text('firstname');
        
		echo '<label for="lastname">Last Name';
        if ($form->isFieldError('lastname')) {
            echo '<br/><strong>' . $form->error('lastname') . '</strong>';
        }
        echo '</label>';
        echo $form->text('lastname');
        
		$arrCategory=array(1=>"Male",2=>"Female");
		echo $form->input('gender', array('options'=>$arrCategory,'selected'=>'Male')); 
		
		echo '<label for="dateOfBirth">Date of Birth';
        if ($form->isFieldError('dateOfBirth')) {
            echo '<br/><strong>' . $form->error('dateOfBirth') . '</strong>';
        }
        echo '</label>';
        echo $form->text('dateOfBirth');
        
		echo '<label for="mobile">Mobile';
        if ($form->isFieldError('mobile')) {
            echo '<br/><strong>' . $form->error('mobile') . '</strong>';
        }
        echo '</label>';
        echo $form->text('mobile');
        
		echo '<label for="country">Country';
        if ($form->isFieldError('country')) {
            echo '<br/><strong>' . $form->error('country') . '</strong>';
        }
        echo '</label>';
        echo $form->text('country');
        
		echo '<label for="bankName">Bank Name';
        if ($form->isFieldError('bankName')) {
            echo '<br/><strong>' . $form->error('bankName') . '</strong>';
        }
        echo '</label>';
        echo $form->text('bankName');
        
		echo '<label for="bankAccount">Account Number';
        if ($form->isFieldError('bankAccount')) {
            echo '<br/><strong>' . $form->error('bankAccount') . '</strong>';
        }
        echo '</label>';
        echo $form->text('bankAccount');
        
		echo '<label for="paypal">Paypal';
        if ($form->isFieldError('paypal')) {
            echo '<br/><strong>' . $form->error('paypal') . '</strong>';
        }
        echo '</label>';
        echo $form->text('paypal');
        
		echo '<label for="refferId">Referred ID';
        if ($form->isFieldError('refferId')) {
            echo '<br/><strong>' . $form->error('refferId') . '</strong>';
        }
        echo '</label>';
        echo $form->text('refferId');
        
		$arrCategory=array(1=>"Left",2=>"Right");
		echo $form->input('refferedPosition', array('options'=>$arrCategory,'selected'=>'Left')); 
			    echo '</fieldset>';

	    echo $form->end('Register');

?>
</br></br></br></br></br></br>